<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <h1 class="display-4 mt-5">Welcome to ArticleBase</h1>
      <p class="lead mb-5">This is a Sails.js app for managing articles.</p>
      <a href="/articles/list" class="btn btn-outline-primary btn-lg mr-3">View Articles</a>
      <a href="/articles/add" class="btn btn-outline-primary btn-lg">Add Articles</a>
    </div>
  </div>
</div>
