<h1 class="display-4">Articles</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% console.log(articles)%>
    <% articles.forEach((article) => { %>
      <tr>
        <td><%= article.id %></td>
        <td><%= article.title %></td>
        <td>
            <a class="btn btn-primary" href="/articles/edit/<%= article.id %>">Edit</a> 
            <form class="d-inline" action="/articles/delete/<%= article.id %>" method="post">
                <input type="submit" class="btn btn-danger" value="delete">
            </form>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
